.card {
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width  : 340px;
  font-family: arial;
  padding    : 1em;
}

.selected {
  color-scheme    : light dark;
  color           : rgba(255, 255, 255, 0.87);
  background-color: #213547;
}

.description {
  color    : grey;
  font-size: 16px;
}

.panel {
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width  : 350px;
  font-size  : 1.5em;
  line-height: 0.3;
  padding    : 1em;

}

.card:hover {
  opacity: 0.94;
}

.verticalScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  padding   : 0.4em;
  max-width : fit-content;
  height    : 515px;
}

@media only screen and (max-width: 768px) {
  .verticalScroll {
    display   : flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding   : 0.3em;
    height    : 157px;

  }

  .card {
    width: 200px;
  }

  .panel {
    font-size   : 1.3em;
    line-height : 0.3;
    padding-left: 1em;
  }
}