.card {
  box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width       : 340px;
  color           : rgba(255, 255, 255, 0.87);
  background-color: #213547;
  font-family     : arial;
  padding         : 1em;
}

.selected {
  color           : #213547;
  background-color: rgba(255, 255, 255, 0.87);
}

.description {
  color    : grey;
  font-size: 16px;
}

.panel {
  box-shadow   : 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  max-width    : 350px;
  font-size    : 1.2em;
  font-weight  : bold;
  line-height  : 0.8;
  margin-bottom: 1em;
  padding      : 1.5em;

}

.card:hover {
  opacity: 0.94;
}

.verticalScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  padding   : 0.4em;
  max-width : fit-content;
  height    : 515px;
}

@media only screen and (max-width: 768px) {
  .verticalScroll {
    display   : flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding   : 0.3em;
    height    : 157px;

  }

  .card {
    width: 200px;
  }

  .panel {
    padding-left: 1em;
  }
}