.app-container {
  display              : grid;
  grid-template-columns: 40% 60%;
  min-height           : 100vh;
}

.message-container {
  width      : 100%;
  margin-left: 0%;
}

.message-header {
  box-shadow     : 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 1.5em;
  margin-bottom  : 1em;
  font-size      : 1.2em;
  font-weight    : bold;
  line-height    : 0.8;
}

div.selected-channel {
  color    : grey;
  font-size: 16px;
}

p {
  text-align  : justify;
  padding-left: 3em;
}

@media only screen and (max-width: 768px) {
  .app-container {
    display              : grid;
    grid-template-columns: 100%;
    padding              : 2%;
  }

  .message-header {
    box-shadow   : 0 1px 1px 0 #456b8b;
    padding      : 0.8em;
    margin-top   : 0.2em;
    margin-bottom: 0.4em;
    font-size    : 1em;
  }

  .back-arrow-button {
    box-shadow   : 0 1px 1px 0 #456b8b;
    border-radius: 12px;
    padding      : 0.7em;
    font-size    : 1em;
  }

  .back-arrow-button:hover {
    color           : white;
    background-color: #456b8b;
    cursor          : pointer;
  }

  div.selected-channel {
    font-size: 0.8em;
  }

  p {
    text-align: center;
  }
}